body
{
  margin: 0;
  text-align: center;
}
h1
{
  margin: 0;
  font-family: 'Comforter', cursive;
  font-size: 5.625em;
  color: #66BFBF;


}
.para1topcont
{
  font-weight: normal;

}

h2
{
  color:  #66BFBF;
}
h3
{
  color: #11999E;
}
a
{
  color: #11999E;
}
.top-container
{

  margin: 0;
  background-color: aqua;
  position: relative;
  padding-top: 80px;
}
.skills
{
  width:50%;
  margin: 100px auto 100px auto;
}
.img1
{
 position: absolute;
 left:1000px;
 top:40px;
}
.img2
{
  position: absolute;
}
